<% include partials/header %>

<div role="main" class="error">
	<div class="container animated fadeIn">

		<div class="content-box">
			<div class="content-box-inner">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<h1>ERROR FOUND</h1>
						<hr class="title-divider">			
					</div>
				
					<div class="col-md-12 col-sm-12">
						<p>Sorry. The page does not exist.</p>
					</div>
				
					
					<div class="col-md-12 col-sm-12 mt-4 btn-container">
						<a class="btn btn-primary btn-lg steps-btn" href="/" role="button">Back To Home</a>
					</div>					
				</div>
			</div>
		</div>


	</div>	
</div>

<% include partials/footer %>

